.loader__container{
    width: 100%;
    background-color: #3F374E;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loadanim;
  animation-duration: 2s;
  position: fixed;
  z-index: 10000;

}


@keyframes loadanim {
    0%   {opacity: 1;}
    25%  {opacity: 1;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes iconanim {
    0%   {scale: 1.2;opacity: .3;}
    25%  {scale: 1.3; opacity: .8;}
    50%  {scale: 1.1; opacity: 1;}
    80%  {scale: 1.05; opacity: 1;}
    100% {scale: 1;opacity: 0;}
  }




.loadersvg{
    width: clamp(100px,2.5vw,200px);
    animation-name: iconanim;
    animation-duration: 2s;
}